# Lab 1

#### Used datasets

##### 1. Dataset, used in book examples

In [18]:
import numpy as np
import pandas as pd

from classifiers.decision_tree import DecisionTreeClassifier
from classifiers.knn import KNNClassifier
from classifiers.naive_bayes import NaiveBayesClassifier
from classifiers.one_rule import OneRuleClassifier

In [19]:
df_0 = pd.read_csv('./data/input_0.csv')
df_0

   f1  f2  f3  f4  target
0   0   0   1   0       0
1   1   0   0   1       1
2   2   0   1   0       1
3   0   1   0   0       1
4   0   1   1   0       1
5   0   1   1   1       0
6   1   0   0   1       0
7   2   0   0   0       1
8   2   1   1   0       1
9   0   1   1   1       0

##### 2. Dataset from exercises

In [20]:
df_1 = pd.read_csv('./data/input_1.csv')
df_1

   f1  f2  f3  target
0   0   1   2       1
1   1   0   1       1
2   0   1   1       0
3   0   0   1       1
4   0   0   2       1
5   1   1   2       0
6   1   0   2       1
7   1   0   0       0
8   0   0   0       0
9   0   0   1       1

## 1. One-Rule classifier

In [21]:
def read_dataset(filename):
    df = pd.read_csv(filename)
    f_names = list(filter(lambda c: c[0] == 'f', df.columns))

    return df[f_names].to_numpy(), df['target'].to_numpy()

In [22]:
X_first, y_first = read_dataset('./data/input_0.csv')
X_second, y_second = read_dataset('./data/input_1.csv')

In [23]:
X_test_first = np.array([
    [2, 1, 1, 1]
])

X_test_second = np.array([
    [1, 1, 1]
])

Best feature from example:

![one-rule-best-feature](./images/1_one_rule_example.png)

In [24]:
one_rule_classifier = OneRuleClassifier(verbose=True)
one_rule_classifier.fit(X_first, y_first)
print(f'Prediction result: {one_rule_classifier.predict(X_test_first)}')

Best feature idx: 3, error rate: 0.2
Prediction result: [0]

In [25]:
one_rule_classifier = OneRuleClassifier(verbose=True)
one_rule_classifier.fit(X_second, y_second)
print(f'Prediction result: {one_rule_classifier.predict(X_test_second)}')

Best feature idx: 2, error rate: 0.2
Prediction result: [1]

## 2. Naive Bayes classifier

Probabilities from example

![naive-bayes-probs](./images/2_naive_bayes_example.png)

In [26]:
naive_bayes_classifier = NaiveBayesClassifier(laplace_smoothing_factor=0.1, verbose=True)
naive_bayes_classifier.fit(X_first, y_first)

Classes probabilities:
P(c0)=0.4
P(c1)=0.6

Features probabilities:
P(f0=0|c=0)=0.7209302325581396
P(f0=0|c=1)=0.33333333333333337
P(f0=1|c=0)=0.2558139534883721
P(f0=1|c=1)=0.17460317460317462
P(f0=2|c=0)=0.023255813953488375
P(f0=2|c=1)=0.4920634920634921
P(f1=0|c=0)=0.5
P(f1=0|c=1)=0.5
P(f1=1|c=0)=0.5
P(f1=1|c=1)=0.5
P(f2=0|c=0)=0.2619047619047619
P(f2=0|c=1)=0.5
P(f2=1|c=0)=0.7380952380952381
P(f2=1|c=1)=0.5
P(f3=0|c=0)=0.2619047619047619
P(f3=0|c=1)=0.8225806451612903
P(f3=1|c=0)=0.7380952380952381
P(f3=1|c=1)=0.1774193548387097

In [27]:
print(f'Prediction result: {naive_bayes_classifier.predict(X_test_second)}')

Predicted probability log-value: -3.2764251691275144
Prediction result: [np.int64(0)]

In [28]:
naive_bayes_classifier = NaiveBayesClassifier(laplace_smoothing_factor=0.1)
naive_bayes_classifier.fit(X_second, y_second)
print(f'Prediction result: {naive_bayes_classifier.predict(X_test_second)}')

Prediction result: [np.int64(0)]

## 3. Decision tree classifier

Tree from book

![decision-tree](./images/3_decision_tree_example.png)

In [29]:
decision_tree_classifier = DecisionTreeClassifier()
decision_tree_classifier.fit(X_first, y_first)
decision_tree_classifier.print()

Feature: 0
  0 -> 0
    Feature: 3
      3 -> 0
        Feature: 1
          1 -> 0
            Leaf(0)
          1 -> 1
            Leaf(1)
      3 -> 1
        Leaf(0)
  0 -> 1
    Feature: 1
      1 -> 0
        Feature: 2
          2 -> 0
            Feature: 3
              3 -> 0
              3 -> 1
                Leaf(1)
          2 -> 1
      1 -> 1
  0 -> 2
    Leaf(1)

In [30]:
print(f'Prediction result: {decision_tree_classifier.predict(X_test_first)}')

Prediction result: [np.int64(1)]

In [31]:
decision_tree_classifier = DecisionTreeClassifier()
decision_tree_classifier.fit(X_second, y_second)
decision_tree_classifier.print()

Feature: 2
  2 -> 0
    Leaf(0)
  2 -> 1
    Feature: 1
      1 -> 0
        Leaf(1)
      1 -> 1
        Leaf(0)
  2 -> 2
    Feature: 0
      0 -> 0
        Leaf(1)
      0 -> 1
        Feature: 1
          1 -> 0
            Leaf(1)
          1 -> 1
            Leaf(0)

In [32]:
print(f'Prediction result: {decision_tree_classifier.predict(X_test_first)}')

Prediction result: [np.int64(0)]

## 4. KNN classifier

Distances from book:

![knn](./images/4_knn_example.png)

In [33]:
knn_classifier = KNNClassifier(k=3, weighted_voting=True, verbose=True)
knn_classifier.fit(X_first, y_first)
knn_classifier.predict(X_test_first)

K-nearest-neighbors rows indices: [8 2 6]
Best vote: 1.5

array([1])

In [34]:
knn_classifier = KNNClassifier(k=3, weighted_voting=True)
knn_classifier.fit(X_second, y_second)
knn_classifier.predict(X_test_second)

array([0])